.dataframe {
  text-align: right;
  border: none;

  thead {
    border-bottom: 1px solid #bdbdbd;
  }
  th {
    padding: 0.5em;
  }

  tr:nth-child(even) {
    background: #f5f5f5f5;
  }

  tr:hover {
    background: #e1f5fe;
  }
}

pre {
  background: #f5f5f5f5;
  padding: 1em;
}
