<!DOCTYPE html>
<html lang="en">
    <head>
	{% if config.extra.katex %}
	    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.28/dist/katex.min.css" integrity="sha384-Wsr4Nh3yrvMf2KCebJchRJoVo1gTU6kcP05uRSh5NV3sj9+a8IomuJoQzf3sMq4T" crossorigin="anonymous">

    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.28/dist/katex.min.js" integrity="sha384-+W9OcrYK2/bD7BmUAk+xeFAyKp0QjyRQUCxeU31dfyTt/FrPsUgaBTLLkVf33qWt" crossorigin="anonymous"></script>

    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.28/dist/contrib/auto-render.min.js" integrity="sha384-hCXGrW6PitJEwbkoStFjeJxv+fSOOQKOPbJxSfM6G5sWZjAyWhXiTIIAmQqnlLlh" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>
	{% endif %}

	<link rel="stylesheet" href="{{ get_url(path="main.css", trailing_slash=false) }}">
        <meta http-equiv="content-type" content="test/html; charset=utf-8">
	{% if config.extra.favicon %}
	<link rel="icon" href="{{get_url(path=config.extra.favicon)}}" sizes="32x32">
	{% endif %}
        <title>{{ config.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
              crossorigin="anonymous">
    </head>
    <body>
        {% set root_section = get_section(path="_index.md") %}
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ config.base_url }}">{{ config.title }}</a>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            {% for sec in root_section.subsections %}
                                {% set sub_sec = get_section(path=sec) %}
                                {% if section %}
                                    {% set is_current_section = sub_sec.components | first  == section.components | first %}
                                {% elif page %}
                                    {% set is_current_section = sub_sec.components | first  == page.components | first %}
                                {% endif %}
                                <li class="nav-item">
                                    <a class="nav-link {% if is_current_section %}active{% endif %}"
                                       aria-current="page"
                                       href="{{ sub_sec.permalink }}">{{ sub_sec.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>

                    </div>
			{% if config.extra.icon %}
			<div class="self-justify-end">
			    <img src="{{get_url(path=config.extra.icon)}}" style="height: 3em !important;" />
			</div>
			{% endif %}
                </div>
        </nav>
        <div class="container mt-4">
            <div class="row">
                <nav class="col-3 vh-75">
                    {% block nav %}
                    {% endblock nav %}
                </nav>
                <article class="col-8 border-start">
                    <section>
                        <header>
                            {% block header %}
                                <h1>{{ section.title }}</h1>
                            {% endblock header %}
                        </header>
                        {% block content %}
                            <ul>
                                {% for page in section.pages | sort(attribute="title")%}
                                    <li>
                                        <a href="{{ page.permalink }}">{{ page.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endblock content %}
                    </section>
                </article>
            </div>
        </div>
        <footer class="text-center border-top m-4 p-4">
            {% block footer %}
                Made with Snakedown, Zola, and a touch of madness
            {% endblock footer %}
        </footer>
    </body>
</html>
